@using Blazor.Cherrydown.FileUpload
@inject MemoService _memoService
@inject MemoService _service
@inject IOptions<MemoDownOptions> _options
@implements IDisposable

<detail>
    <RadzenStack AlignItems="AlignItems.Center" Gap="0" class="h-100">
        @if (Memo != null)
        {
            <div class="hd w-100">
                <div class="title">@Memo.Name</div>
                <div class="toolbar">
                    @Memo.FullPath
                    @if (!Memo.IsDirectory)
                    {
                        <RadzenButton Text="保存" IsBusy="_isSaving" BusyText="保存中" ButtonStyle="ButtonStyle.Light" Click="SaveMarkdownContent" />
                        <div class="hd-view-mode">
                            <RadzenProfileMenu Click="HandleSwitchMode">
                                <Template>
                                    <i title="模式切换" svg-icon="" svgname="md_switch" class="switch-icon">
                                        <svg style="display: inline-block; width: 100%; height: 100%" role="img" class="">
                                            <use xlink:href="#md_switch"></use>
                                        </svg>
                                    </i>
                                </Template>
                                <ChildContent>
                                    <RadzenProfileMenuItem Text="分屏编辑" Icon="splitscreen" Value="@CherrydownMode.EditAndPreview.ToString()" class="md-splitscreen" />
                                    <RadzenProfileMenuItem Text="所见即所得" Icon="wysiwyg" Value="@CherrydownMode.EditOnly.ToString()" />
                                    <RadzenProfileMenuItem Text="预览模式" Icon="remove_red_eye" Value="@CherrydownMode.PreviewOnly.ToString()" />
                                </ChildContent>
                            </RadzenProfileMenu>
                        </div>
                    }
                </div>
            </div>
            if (Memo.IsDirectory)
            {
                <div class="bd d-flex align-items-center justify-content-center w-100 h-100 ">
                    <i svg-icon="" svgname="dir_detail_default" class="dir-detail-default">
                        <svg style="display: inline-block; width: 100%; height: 100%" role="img" class="">
                            <use xlink:href="#dir_detail_default"></use>
                        </svg>
                    </i>
                </div>
            }
            else
            {
                <div class="markdown-container w-100">
                    <Cherrydown Markdown="@_markdown" OnFileUpload="_memoService.SaveUploadFile" @ref="Editor" />
                </div>
            }
        }
        else
        {
            <div svg-icon="" svgname="empty_logo" class="empty_logo flex-grow-1">
                <svg style="display: inline-block; width: 100%; height: 100%" role="img" class="">
                    <use xlink:href="#empty_logo"></use>
                </svg>
            </div>
        }
    </RadzenStack>
</detail>

@code {
    private MemoItem? Memo => _memoService.SelectedMemo;

    private MemoItem? _previousMemo = null;

    private string? _markdown;

    private Cherrydown Editor = default!;

    private Timer? _timer;
    private bool _isSaving;
    private TimeSpan _autoSavingDueTime = TimeSpan.FromSeconds(5);
    private TimeSpan _autoSavingIntervalTime;

    protected override void OnInitialized()
    {
        _autoSavingIntervalTime = TimeSpan.FromSeconds(_options.Value.AutoSavingIntervalSecond);

        _memoService.OnSelectedMemoChanged += OnSelectedMemoChanged;
        _timer = new Timer(async _ =>
        {
            await SaveMarkdownContent();

        }, null, _autoSavingDueTime, _autoSavingIntervalTime);

        _markdown = _service.GetMarkdownContents(Memo);

        base.OnInitialized();
    }

    private async Task SaveMarkdownContent()
    {
        try
        {
            if (Memo != null && !Memo.IsDirectory && !_isSaving && Editor != null)
            {
                _isSaving = true;
                await InvokeAsync(StateHasChanged);

                await Task.Delay(200);

                var markdown = await Editor.GetValueAsync();
                if (_markdown != markdown)
                {
                    await _service.SaveMarkdownContents(Memo, markdown);

                    _markdown = markdown;
                }

                _isSaving = false;
                await InvokeAsync(StateHasChanged);
            }
        }
        catch { }
    }

    private void OnSelectedMemoChanged()
    {
        if (Memo == null || Memo.IsDirectory)
        {
            _timer?.Change(Timeout.Infinite, Timeout.Infinite);
        }
        else
        {
            _timer?.Change(_autoSavingDueTime, _autoSavingIntervalTime);
        }

        _markdown = _service.GetMarkdownContents(Memo);
        StateHasChanged();
    }

    private async Task HandleSwitchMode(RadzenProfileMenuItem e)
    {
        var mode = Enum.Parse<CherrydownMode>(e.Value);
        await Editor.SwitchModeAsync(mode);
    }

    public void Dispose()
    {
        _memoService.OnSelectedMemoChanged -= OnSelectedMemoChanged;
        _timer?.Dispose();
    }
}
