@if (Memos != null && Memos.Any())
{
    @foreach (var memo in Memos.Where(m => !DirectoryOnly || m.IsDirectory))
    {
        @if (RenderChildren && memo.Children != null && memo.Children.Any())
        {
            <RadzenPanelMenuItem Value="memo"
                                 Click="OnClick"
                                 Selected="@(CurrentMemo?.FullPath == memo.FullPath)"
                                 Expanded="@(CurrentMemo?.FullPath.StartsWith(memo.FullPath) ?? false)">
                <Template>
                    @if (memo.IsDirectory)
                    {
                        <i class="rzi rz-navigation-item-icon">folder</i>
                    }
                    else
                    {
                        <img class="rz-navigation-item-icon" src="/images/markdown_20x20.png" alt="md" />
                    }
                    <span class="rz-navigation-item-text">@memo.Name</span>
                    <i class="rzi rz-navigation-item-icon btn-more" @onclick="OnBtnMoreClick" @onclick:stopPropagation>more_horiz</i>
                </Template>
                <ChildContent>
                    <MemoItems Memos="memo.Children" CurrentMemo="CurrentMemo" OnMenuItemClick="OnClick" OnBtnMoreClick="OnBtnMoreClick"
                               DirectoryOnly="@DirectoryOnly" RenderChildren="@RenderChildren" />
                </ChildContent>
            </RadzenPanelMenuItem>
        }
        else
        {
            <RadzenPanelMenuItem Value="memo"
                                 Click="OnClick"
                                 Selected="@(CurrentMemo?.FullPath == memo.FullPath)"
                                 Expanded="@(CurrentMemo?.FullPath.StartsWith(memo.FullPath) ?? false)">
                <Template>
                    @if (memo.IsDirectory)
                    {
                        <i class="rzi rz-navigation-item-icon">folder</i>
                    }
                    else
                    {
                        <img class="rz-navigation-item-icon" src="/images/markdown_20x20.png" alt="md" />
                    }
                    <span class="rz-navigation-item-text">@memo.Name</span>
                    <i class="rzi rz-navigation-item-icon btn-more" @onclick="OnBtnMoreClick" @onclick:stopPropagation>more_horiz</i>
                </Template>
            </RadzenPanelMenuItem>
        }
    }
}

@code {
    [Parameter]
    public IEnumerable<MemoItem>? Memos { get; set; }

    [Parameter]
    public MemoItem? CurrentMemo { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnBtnMoreClick { get; set; }

    [Parameter]
    public EventCallback<MenuItemEventArgs> OnMenuItemClick { get; set; }

    [Parameter]
    public bool DirectoryOnly { get; set; }

    [Parameter]
    public bool RenderChildren { get; set; } = true;

    public async Task OnClick(MenuItemEventArgs args)
    {
        var memo = args.Value as MemoItem;
        if (OnMenuItemClick.HasDelegate && CurrentMemo?.Id != memo?.Id)
        {
            await OnMenuItemClick.InvokeAsync(args);
        }
    }
}
